hello I am index
<%= @opposing_team %>
<% @conversations.each do |conversation|%>
<ul>
  <li><%=link_to conversation.team.nil? ? @opposing_team.name : conversation.team.name, messages_path(:messages => { :conversation_id => conversation.id }) %>
    <ul>
      <% if conversation.team.nil? %>
         <% @opposing_team.teammates.each do |teammate| %>
            <li><%= teammate.name %></li>
          <%end%>
      <% else %>
           <% conversation.team.teammates.each do |teammate| %>
            <li><%= teammate.name %></li>
          <%end%>
        <%end%>
    </ul>
  </li>
</ul>
<%end%>