<%= form_for :vidconference, url: @vidconference do |f|
 %>
    <div class = "form-group">
      <%= f.label :users %>
      <%= f.text_field :users, class: 'form-control', placeholder: "Enter wiki title", id:'user_id' %>
    </div>
    <div class = "form-group">
      <%= f.submit class: 'btn btn-success' ,id: 'team_role_submit'  %>
    </div>
  <% end %>
  </div>
</div>