
<center><h1>Video Chat!</h1></center>

<script src="//static.opentok.com/v2/js/opentok.min.js" ></script>

<script type="text/javascript">
  var apiKey    = <%= ENV['OPENTOK_KEY']%>;
 // alert(<%= "#{@videoconference}" %>
  var token = '<%= @token %>';
  var sessionId = '<%= @session %>';

  var session = OT.initSession(apiKey, sessionId);

  session.on("streamCreated", function(event) {
    var newSession = session.subscribe(event.stream);

    newSession;
    function resizeSession() {
      console.log(newSession.id);
      var sessElement = document.getElementById(newSession.id);

      sessElement.style.width = "500px";
      sessElement.style.height = "500px";
      sessElement.style.marginLeft = "auto";
      sessElement.style.marginRight = "auto";
      sessElement.style.bottom = "20px";
      sessElement.style.height = -1;

      
    }
    resizeSession();
  });




  session.connect(token, function(error) {
    var publisher = OT.initPublisher();
    session.publish(publisher);

    
    function resizePublisher() {
      var pubElement = document.getElementById(publisher.id);
      
      pubElement.style.width = "120px";
      pubElement.style.height = "120px";
      pubElement.style.marginLeft = "100px";
      pubElement.style.zIndex = 100;
      pubElement.style.top = "480px";
      pubElement.style.left = "625px";

      
    }
    resizePublisher();

  });

</script>

