<br/>
<%if !current_user%>
  <div class="jumbotron">
    <h1>Be Good Worldwide</h1>
    <p>Be Good is a resource for connecting with people around the world!</p>
    <p>
        <%= link_to "Sign In", new_user_session_path, class: 'btn btn-primary' %> or
        <%= link_to "Sign Up", new_user_registration_path, class: 'btn btn-primary' %> today!
    </p>
  </div>
  <%else%>
   <center><h1 style='font-family:berlin; color:red; text-shadow: 2px 2px grey;'>Choose A Friend!</h1></center>
<%end%>
<div id="spinning_world"></div>
<div class="row">
  <div class="col-md-4">
    <h2>Educates the Globe</h2>
    <p>Be Good will educate people all over the world about eachothers culture.</p>
  </div>
  <div class="col-md-4">
    <h2>Inspires Travel</h2>
    <p>Be Good will help build relationships and inspire travel.</p>
  </div>
  <div class="col-md-4">
    <h2>Make the World Better</h2>
    <p>Be Good will make the world a better place by helping people realizing how similar we really are.</p>
  </div>
</div>
<div id='test'style="display:none"><%= @team_pic %></div>
<div id="profile" style="position:absolute; index:1000; display:none"></div>
