 @import "bootstrap";


 .submit_answer_btn{
  pull:right;
 }

.session_box h2{
  margin-bottom:40px;
}

.session_box{
    padding-top:30px;
    border-bottom-width:5px; 
    border-bottom-style:groove;
}
.answer p, .answer a,.answer textarea{
  margin-left:40%;
}
.answer textarea{
  width:82%;
  height: 150px;
}
.answer{
 // margin-top:65px;
  margin-bottom:30px;
  margin-left:2%;
  padding:60px;
  z-index:20;
  background: url(http://www.freeimageslive.com/galleries/workplace/office2/preview/notebook.jpg);
}


/*************** above is notebook style ****************/
.hidden-label{
  display:none;
}

/******* above is style for inidividual show path *******/
#profile-pick{
  height:30px;
  width:40px;
}
 #background_globe{
  background-color:black;
 /* background-image:
radial-gradient(white, rgba(255,255,255,.2) 1px, transparent 40px),
radial-gradient(white, rgba(255,255,255,.15) 1px, transparent 30px),
radial-gradient(white, rgba(255,255,255,.1) 1px, transparent 40px),
radial-gradient(rgba(255,255,255,.4), rgba(255,255,255,.1) 1px, transparent 30px);
background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px; 
background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;*/
  margin: 0 auto 0 auto;
}

#tool_tip{

  width:18%;
  margin: none;
  padding:5px;
  background-color: black;
  opacity:.7;
}

#tool_tip div a{
  float:left;
 }
 #tool_tip div a{
  float:right;
 }
#tool_tip div strong{
  color:white;
  margin-bottom:10%;
 }
 #tool_tip div:first-child, #tool_tip div img{
  margin-bottom:5%;
 }
 #tool_tip div:first-child{
  margin:0 22% 5% 20%;


 }
 #tool_tip div img{
  margin-bottom:5%;
 }

 #tool_tip div{
  padding-left:5px;
 }
  #tool_tip ul li bold{
    background-color:red;
  }
 #tool_tip ul li{

  margin: none;
  padding:none;
 }

/*******  above is custom style for globe  *******/

#globe_shading{
   stop-opacity: 1;
}

.user-info {
   margin-top: 9px;
 }

 .nav {
   margin-top: 5px;
 }



.land {
  fill: #999;
  stroke-opacity: 1;
}

.graticule {
  fill: none;
  stroke: black;
  stroke-width:.5;
  opacity:.2;
}

.labels {
    font: 8px sans-serif;
    fill: black;
    opacity: .5;

    display:none;
}

.noclicks { pointer-events:none; }

.point {  opacity:.4;stroke:white; fill:white; }

.arcs {
  opacity:.1;
  stroke: gray;
  stroke-width: 3;
}
.flyers {
  stroke-width:1;
  opacity: .6;
  stroke: darkred;
}
.arc, .flyer {
  stroke-linejoin: round;
  fill:none;
}
  .arc { }
  .flyer { }
  .flyer:hover { }

/******** friend request component**********/
#friend-menu{
  width:250px;
}
#friend-menu .relationship{
  float:right;
  margin-right:20px
}