 @import "bootstrap";


.hidden-label{
  display:none;
}

/******* above is style for inidividual show path *******/
#profile-pick{
  height:30px;
  width:40px;

}
 #background_globe{
  background-color:black;
  margin: 0 auto 0 auto;
}

#tool_tip{
  
  width:11%;
  margin: none;
  padding:5px;
  background-color: black;
  opacity:.8;
}

#tool_tip div a{
  float:left;
 }
 #tool_tip div a{
  float:right;
 }
#tool_tip div strong{
  color:red;
  margin-bottom:10%;
 }
 #tool_tip div:first-child, #tool_tip div img{
  margin-bottom:5%;
 }
 #tool_tip div:first-child{
  margin:0 22% 5% 20%;

 
 }
 #tool_tip div img{
  margin-bottom:5%;
 }

 #tool_tip div{
  padding-left:5px;
 }
  #tool_tip ul li bold{
    background-color:red;
  }
 #tool_tip ul li{

  margin: none;
  padding:none;
 }
/*******  above is custom style for globe  *******/

.user-info {
   margin-top: 9px;
 }

 .nav {
   margin-top: 5px;
 }



.land {
  fill: #999;
  stroke-opacity: 1;
}

.graticule {
  fill: none;
  stroke: black;
  stroke-width:.5;
  opacity:.2;
}

.labels {
    font: 8px sans-serif;
    fill: black;
    opacity: .5;

    display:none;
}

.noclicks { pointer-events:none; }

.point {  opacity:.4;stroke:white; fill:white; }

.arcs {
  opacity:.1;
  stroke: gray;
  stroke-width: 3;
}
.flyers {
  stroke-width:1;
  opacity: .6;
  stroke: darkred;
}
.arc, .flyer {
  stroke-linejoin: round;
  fill:none;
}
  .arc { }
  .flyer { }
  .flyer:hover { }

/******** friend request component**********/
#friend-menu{
  width:250px;
}
#friend-menu .relationship{
  float:right;
  margin-right:20px
}